.carouselitem img{
    margin: 0px auto;
}

/* .logos-list:before {
    left: 0;
    background: linear-gradient(to left, rgba(238, 238, 238, 0), #EEE);
}
.logos-list:before, .logos-list:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    width: 32px;
} */