.modal-header {
padding-bottom: 0px!important;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 15% 20px;
}

form .box-input{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 100%;
    color: var(--primary-color)!important;
    margin: 15px;;
}
form .box-input label{
    font-weight: bold;
    padding-bottom: 3px;
}
form .box-input .input{
    border:none;
    border-bottom:1px solid var(--primary-color);
    width: 100%;
    background-color: var(--tertiary-color)!important;
    padding: 4px 10px;
}
form .box-input .input:focus, form .box-input .input:focus-visible {
    border:none;
    border-bottom:2px solid var(--secondary-color);
    outline:none;
}

form .box-input .text-area{
    border: 1px solid var(--primary-color);
    border-radius: 15px;
    min-height: 150px;
    padding:10px 10px 10px 20px;
    margin-top: 5px;

}
form .box-input .text-area:focus, form .box-input .text-area:focus-visible {
    border:2px solid var(--secondary-color);
}

.error-msg{
    color:red;
}

@media only screen and (max-width: 991px) {
    form {
        margin: 0px 10% 30px;
    }
}