.modal-gracias{
    text-align: center;
    margin:0px 17% 50px;
}

.modal-gracias h2{
    color:var(--secondary-color);
    font-weight:bold;
    margin: 20px;
    letter-spacing: 1.92px;
}
.modal-gracias h4{
    color:var(--primary-color);
    font-weight:bold;
    margin: 30px 0px 40px;
}
