header .bg-body-tertiary {
    background-color: var(--primary-color)!important;
    color:var(--tertiary-color);
}

header .nav-link{
    color: var(--tertiary-color);
    font-weight: bold;
    padding: 10px!important;
    transition: all 0.5s;
}


header .navbar-collapse .nav-link:hover, header .navbar-collapse .nav-link:focus{
    color: var(--tertiary-color);
}

header .navbar-brand img{
    width: 210px;
}


/* hamburguesa */

header .navbar-toggler, header .navbar-toggler:focus, .navbar-toggler:active,
.navbar-toggler-icon:focus {
    border:none;
    outline: none;
    box-shadow: none;
}

@media only screen and (max-width: 767px) {
    header .nav-link{
        padding: 7px 10px!important;
    }
    header .navbar-collapse{
        margin-top:10px;
    }
    header .btn-secondary {
        margin:0px!important;
        padding: 10px!important;
        background-color:transparent!important;
    }
    header .btn-secondary:hover{
        box-shadow: none;
    }
    header .flag{
        /* justify-content: flex-end; */
        margin: 10px 0px !important;
    }
}





/* Flags */

header .flag{
    display: flex;
    flex-direction: row;
    /* gap:15px; */
    /* margin: 0px 10px; */
}
header .flag img{
    width: 34px;
    height: 34px;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.5s;
}
header .flag img:hover{
    box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
}

header .flag img.active{
    width: 40px;
    height: 40px;
    border:3px solid black;
    box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
}


