header .bg-body-tertiary {
    background-color: var(--primary-color)!important;
    color:var(--tertiary-color);
}



header .nav-link{
    color: var(--tertiary-color);
    font-weight: bold;
    padding: 10px!important;
    transition: all 0.5s;
}

header .nav-link:hover, header .nav-link:focus{
    color: var(--secondary-color);
}

/* hamburguesa */

header .navbar-toggler, header .navbar-toggler:focus, .navbar-toggler:active,
.navbar-toggler-icon:focus {
    border:none;
    outline: none;
    box-shadow: none;
}

@media only screen and (max-width: 767px) {
    header .btn-primary {
        margin:0px!important;
        padding: 10px!important;
        background-color:transparent!important;
    }
    header .flag{
        margin: 20px 10px!important;
    }
}





/* Flags */

header .flag{
    display: flex;
    flex-direction: row;
    gap:15px;
    margin: 10px;
}
header .flag img{
    width: 38px;
    height: 38px;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.5s;
}

header .flag img.active{
    box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
}


